
<div>
    <form (ngSubmit)="saveData()">

        <div class="formline"> <input type="text" name="fname" placeholder="FirstName" value= "{{formdata.fname}}" [(ngModel)]= "formdata.fname"></div>
       <div class="formline"><input type="text" name="lname" placeholder="LastName" value= "{{formdata.lname}}" [(ngModel)]= "formdata.lname"></div> 
       <div class="formline"><input type="email" name="email" placeholder="Email"value= "{{formdata.email}}" [(ngModel)]= "formdata.email"></div> 
       <div class="formline"> <input type="text" name="phone" placeholder="TelNo" value= "{{formdata.phone}}" [(ngModel)]= "formdata.phone"></div>
       <div class="formline"> <input type="submit" value="save"></div>
    </form>



</div>

<div>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
        <tr *ngFor="let address of addresses">
            <td>{{address.id}}</td>
            <td>{{address.fname}}</td>
            <td>{{address.lname}}</td>
            <td>{{address.email}}</td>
            <td>{{address.phone}}</td>
            <td><button (click)="editData(address)">Edit</button></td>
            <td><button (click)="deleteData(address)">Delete</button></td>
        </tr>
    </table>


</div>



